*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./var.scss";
@import "./Header.scss";
@import "./Page.scss";
@import "./Form.scss";
@import "./Preview.scss";
@import "./CardPreview.scss";
@import"./List.scss";
@import "./FavList.scss";
@import "./Button.scss";
@import"./Footer.scss";

fieldset {
    border: 0;
  }
  

  body {
    background-image: url(../images/fondo-project-4.jpg);
    background-repeat: no repeat;
    background-size: cover;
    height: 100vh;
  };
  
  @media screen and (min-width: 560px) {
    :root {
      font-size: 14px;
    }
  }
  
  .container {

    background-color: var(--color-dark);
    background-image: url(../images/fondo-project-4.jpg);
    background-repeat: no repeat;
    background-size: cover;
  }
  

  /* COMPONENTS */
  
  .title {
    text-align: center;
    text-transform: capitalize;
  }
  

 