// body {
//     background-color: #f5f8ff;
//     font-family: 'Roboto', sans-serif;
//     line-height: 1.5;
//     min-block-size: 100vh;
//     display: grid;
//     place-items: center;
//   }
  
//   button {
//     cursor: pointer;
//     font: inherit;
//     margin: 0;
//     padding: 0;
//   }
  
  .like__button {
    width: 6rem;
    cursor: pointer;
    background-color: $ligth-purple;
    color: #fff;
    border: 0;
    font-family: --font-card-subtitle;
    font-size: 1rem;
    font-weight: 400;
    padding: 11px;
    padding-left: 10px;
    border-radius: 0.5em;
    z-index: 999;
    position: absolute;
    display: flex;
    gap: 1px;
    line-height: 1rem;
    text-align: center;
    top: -5%;
    left: 11%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.19);
    

    transition: background-color 0.3s;

    &:hover {
      background-color: $green;
    }

    // @media screen and (width < 1245px) {
    //   left: 78%
    // }

    // @media screen and (width < 1037px) {
    //   left: 10%;
    //   top: 80%
    // }

    // @media screen and (width < 949px) {
    //   left: 10%;
    //   top: 70%
    // }

  }
  .like__button:active {
    transform: scale(1.01);
  }

  .fave {
    background-color: $green;
  }