
.list-page{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.cards-container{
    display: grid;
    grid-template-columns: 1 fr;
    gap: 15px;
    flex-grow: 1;
    height: 100%;

    @media screen and (width > 767px) {
       grid-template-columns: 1fr 1fr;
    }

    @media screen and (width > 1000px) {
        grid-template-columns: 1fr 1fr; 
        
    }
}

.list-img{
    display: none;
    

    @media screen and (width > 767px) {
        display: block;
        width: 20vw;
        margin-left: 15px;
        
    }
}
.list__buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;

}
.list-select{
    
    display: block;
    width: fit-content;
    cursor: pointer;
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    text-decoration: none;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.158);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 20px;
    background-color: $ligth-purple;
    transition: background-image 0.3s, background-color 0.3s, width 0.3s, padding 0.3s, font-size 0.3s, max-width 0.3s;
        &:hover {
            font-size: 15px;
            background-color: $green;
            padding: 6px 19px;
        }
      
}

.list-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.card-link {
    cursor: pointer;

    
}

