.hero {
    margin-bottom: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .hero {
      grid-column: span 2;
    }
  }
  
  .hero .title {
    font: var(--font-title-big);
    font-style: italic;
    font-size: 40px;
    color: $purple;
    margin-bottom: 8px;
  }
  
  .hero .hero__text {
    font: var(--font-text-big);
    color: $dark-brown;
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1rem;
  }

  //boton ver otros libros
  .button--link {
    display: block;
    width: fit-content;
    cursor: pointer;
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    
    text-decoration: none;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.158);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 20px;
    background-color: $ligth-purple;
    transition: background-image 0.3s, background-color 0.3s, width 0.3s, padding 0.3s, font-size 0.3s, max-width 0.3s;

    &:hover {
      font-size: 15px;
      background-color: $green;
      max-width: 158px;
      width: 158;
      padding: 6px 19px;
    }
  }