.preview {
  position: relative;
}

.preview .projectImage {

  width: 43%;
  aspect-ratio: 1 / 1.35;

  background-position: top center;
  background-size: cover;
  position: absolute;
  
  translate: 65% 34.5%;
  rotate: -18.5deg;
}

//MOCKUP
.preview .mockup {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: solid 1px $brown;

  background-image: url('../images/mockup-base.png');
  background-position: top center;
  background-size: contain;
  position: absolute;
  z-index: 1;
}

.preview .projectImagePlaceholder {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: solid 1px pink;

  background-image: url('../images/mockup-placeholder.png');
  background-position: top center;
  background-size: cover;
  
}
  
  .preview .card {
    margin-inline: 20px;
  
    transform: translateY(-45px);
  }