

.landingDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &_h1 {
        font-size: 4.5rem;
        color: var(--color-dark-lilac);
        font-style: italic;

        @media screen and (width> 767px) {
            font-size: 8rem;
        }

        @media screen and (min-width: 1024px){
            font-size: 5.5rem;
        }
    }

    &_subtitle {
        margin-top: 20px;
        color: #452C73;
        font-style: italic;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 50;

        @media screen and (width> 767px) {
            font-size: 1.5rem;
        }

        @media screen and (min-width: 1024px){
            font-size: 1.15rem;
        }
    }

    &_buttons {
        margin: 2px;
        padding: 3px;
        background-color: #E6DBC8;
        font-family: var(--font-title-biggest);
        color: #382923;
        font-weight: 600;
        border-radius: 8px;
        z-index: 1;

        @media screen and (width> 767px) {
            width: 200px;
            font-size: 1.2rem;     
        }
    }
    
    &_buttons:hover {
        transform: scale(1.1);
    }

    &_decoration {
        position: fixed;
        bottom: 0;
        left: 0; 
        width: 270px;
        z-index: 0;
        pointer-events: none;

        &_img {
            width: 120%;
            opacity: 0.3; 

            @media screen and (width> 767px) {
                width: 250%;     
                opacity: 0.2;
            }

            @media screen and (min-width: 1024px){
                width: 400%;     
                opacity: 0.2;
            }
        }
    }
}

.logoDiv {
    width: 200px;

    @media screen and (width> 767px) {
        width: 400px;     
    }

    @media screen and (min-width: 1024px){
        width: 280px;
    }

    &_logo {
        width: 100%;
    }
}